{% extends "layout/base.html" %}

{% block page_header %}
	Presentation Slide Deck
{% endblock %}

{% block content %}
<a href="/static/bitcoin-presentation.pptx">Download as PPTX</a><BR>
<!-- <iframe src="http://docs.google.com/gview?url=http://bitcoin-inspector.com/static/bitcoin-presentation.pptx&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
 -->
<!-- <iframe src='https://onedrive.live.com/embed?cid=3BAAB7434BC42802&resid=3BAAB7434BC42802%219118&authkey=AE9z7yi6uyW0N3U&em=2&wdAr=1.7777777777777777' width='610px' height='367px' frameborder='0'></iframe> -->

 <iframe src="//www.slideshare.net/slideshow/embed_code/39540756" width="1000" height="575" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 

<div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/Jeanmarcsoumet/bitcoin-data-pipeline-insight-data-science-project" title="Bitcoin Data Pipeline - Insight Data Science project - September 2014" target="_blank">Bitcoin Data Pipeline - Insight Data Science project - September 2014</a> </strong> from <strong><a href="//www.slideshare.net/Jeanmarcsoumet" target="_blank">Jean-Marc Soumet</a></strong> </div>

<div style="margin-bottom:5px"> <strong><a href="https://onedrive.live.com/redir?resid=3BAAB7434BC42802!9118&authkey=!ADed6OTQPwkNhbk&ithint=file%2cpptx" target="_blank">View with Powerpoint Online</a> </strong> </div>
     
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
